/* --------------------------------------------------Reusable-------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
html{
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    color: black;
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
}

body{
    overflow-x: hidden;
    margin: 0;
}

.nav_bar, footer, signin{
    padding-left: 5%;
    padding-right: 5%;
}

ul{
    list-style: none;
}

li{
    display: inline;
}

.action_link{
    font-weight: 600;
    margin-right: 20px;
    transition: all 0.3s;
    padding: 5px;
    padding-bottom: 10px;
}

.action_link:hover,
.action_link:active{
    border-bottom: 3px solid #35CE97;
}

.form{
    display: inline-block;
    margin: 20px 20%;
    /* border: 2px solid #4F4F4F; */
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.16);
}

.form label{
    font-size: 120%;
}

input, textarea{
    cursor: pointer;
}

input[type = "email"],input[type = "password"], input[type = "text"],input[type = "number"], textarea, select{
    margin: 10px 0;
    width: 100%;
    outline: none;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    height: 50px;
}

textarea{
    resize: none;
    height: 100px;
    font-family: 'Lato', sans-serif;
}

.form_btn{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 120%;
    background-color: #35CE97;
    border: 1px solid #35CE97;
    border-radius: 88px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.form_btn:hover,
.form_btn:active{
    background-color: #4F4F4F;
    border-color: #4F4F4F;
}

/* -----------------------------------------------NavBar------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

.nav_bar{
    height: 70px;
    margin-bottom: 50px;
}

.center_link{
    text-align: center;
    justify-content: center;
}

.sign_link{
    text-align: right;
}

.brand_name{
    margin-top: 16px;
    font-size: 125%;
    font-weight: 600;
}

.name{
    color: #35CE97;
}

.sign_link{
    margin-top: 16px;
}

.fa-search{
    margin-right: 20px;
    transition: all 0.2s;
}
.fa-search:hover{
    transform: scale(1.2);
    color: #35CE97;
}

.sign_in{
    background-color: white;
    border: 2px solid #35CE97;
    color: #35CE97;
    font-size: 100%;
    padding: 12px;
    padding-top: 4px;
    padding-bottom: 6px;
    border-radius: 20px;
    transition: all 0.3s;
}

.sign_in:hover,
.sign_in:active{
    background-color: #35CE97;
    color: white;
}

/* ----------------------------------------------------Sign In Form-------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

.signin_header{
    text-align: center;
}

.sign_form div span{
    color: #828282;
}

.forgot_pwd{
    color: #35CE97;
}

#signin_error , #upload-error{
    margin: 10px 0;
    color: red;
}

/* -------------------------------------------------------Upload----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

.emotion_form .grid{
    text-align: center;
    font-size: 60%;
}

.emo-text1{
    color: #51A4E0;
}

.emo-text2{
    color: #A36ABE;
}

.emo-text3{
    color: #EB5757;
}

.emo-text4{
    color: #F2994A;
}

.emo-text5{
    color: #4ED4A4;
}

/* -------------------------------------------------------Footer----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

footer{
    margin-top: 50px;
    background-color: #4F4F4F;
    color: #F2F2F2;
}

h5{
    font-size: 110%;
    margin-bottom: 10px;
}

.info_link a{
    color: #BDBDBD;
    font-size: 95%;
}

.copyright{
    color: #BDBDBD;
    margin-top: 20px;
    font-size: 75%;
}

.footer_brand{
    text-align: center;
    padding-top: 10px;
}

.owner{
    color: #828282;
    font-size: 70%;
    margin-top: 5px;
}

.icon_list{
    text-align: right;
    font-size: 120%;
}

.icon_list li{
    margin-right: 20px;
}

.icon_list li i{
    transition: all 0.2s;
    cursor: pointer;
}

.icon_list li i:hover,
.icon_list li i:active{
    color: #35CE97;
    transform: scale(1.3);
}